<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<div>
<a href="/login" class="botao" > 
<button class="botao">login</button>
</a>
<br><br>
<a href="/">
<button class="botao">Feed</button></a>
</div> <br>
    
<h1>Mondial Post BushCraft</h1>
<br><br>
<h3>layout sem beleza para poder deslizar <br>
mais rapido entre as postagens grandes.</h3>
<br>



{{#each posts}}


<div id="home">
    <h1 id="h1tituloposts">{{titulo}}</h1>
    <p id="contuedopostagens">{{conteudo}}</p>
     <iframe src="{{url}}" frameborder="0"></iframe>

    
    
    <small>{{createdAt}}</small>
    <br><br>
    <a href="/deletar/{{createdAt}}"> 
        <button>deletar</button>
    </a>

    
    <!--<hr>-->
</div>
<br><br>
{{/each}}

</body>
</html>

